.footer {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 1rem 1rem;
    background-color: #333;
    color: #333;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
}

.github-link {
    font-size: xx-large;
    color: #fff; 
    text-decoration: none;
}

.github-link:hover {
    text-decoration: underline;
}
